<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> SLA & Uptime calculator </title>
    <!-- CSS only -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

    <div class="container">
        <br/>
        <br/>
        <br/>
        <nav class="navbar navbar-expand-lg bg-light">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/02/Klingon_Empire_Flag.svg/320px-Klingon_Empire_Flag.svg.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
            <div class="container-fluid">
              <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                  <a class="nav-link active" aria-current="page" href="{% url 'uptime_calculator:simple-uptime' %}">Simple Uptime Calculation</a>
              </div>

              <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                  <a class="nav-link active" aria-current="page" href="{% url 'sla_calculator:simple-sla' %}">Simple SLA Calculation</a>
                </div>
              </div>
            </div>
        </nav>
 
        {% block content %}
        {% endblock %}
    </div>

</body>
</html>