{% extends 'uptime_sla/base.html' %}

{% load static %}

{% block title%}
    Calculate Simple SLA
{% endblock %}

{% block content %}

    <h3 class="text-bg-dark p-3"> Calculate Simple SLA </h3>
    <br/>
    <br/>

    <div>
        <form method="get">
            <div class="input-group mb-3">
                <label for="simple_uptime_hours">Hours    </label>
                <input type="text" name="simple_uptime_hours" class="form-control" placeholder="" aria-label="Hours" aria-describedby="button-addon1">
                <label for="simple_uptime_minutes">Minutes    </label>
                <input type="text" name="simple_uptime_minutes" class="form-control" placeholder="" aria-label="Minutes" aria-describedby="button-addon2">
                <label for="simple_uptime_seconds"> Seconds    </label>                
                <input type="text" name="simple_uptime_seconds" class="form-control" placeholder="" aria-label="Seconds" aria-describedby="button-addon3">
                <button class="btn btn btn-dark" type="submit" id="button-addon1">Enter Required Uptime and click</button>
              </div>
        </form>
    </div>
    <br/>
    <br/>


    
    {% if simple_downtime_data %}

    {% endif %}


{% endblock %}